USE [master]
GO
/****** Object:  Database [SmartAssessmentDB]    Script Date: 7/6/2026 2:33:34 AM ******/
CREATE DATABASE [SmartAssessmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartAssessmentDB', FILENAME = N'D:\SQL2022\MSSQL17.SQLEXPRESS\MSSQL\DATA\SmartAssessmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartAssessmentDB_log', FILENAME = N'D:\SQL2022\MSSQL17.SQLEXPRESS\MSSQL\DATA\SmartAssessmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAssessmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAssessmentDB]
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChoiceText] [nvarchar](300) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Duration] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PassPercentage] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[Score] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[TotalScore] [int] NOT NULL,
	[Percentage] [decimal](5, 2) NOT NULL,
	[IsPassed] [bit] NOT NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAnswers]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChoiceId] [int] NOT NULL,
	[AnsweredAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/6/2026 2:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Choices] ON 

INSERT [dbo].[Choices] ([Id], [QuestionId], [ChoiceText], [IsCorrect]) VALUES (4, 3, N'magdy shata ', 1)
INSERT [dbo].[Choices] ([Id], [QuestionId], [ChoiceText], [IsCorrect]) VALUES (5, 3, N'hamo beka', 0)
INSERT [dbo].[Choices] ([Id], [QuestionId], [ChoiceText], [IsCorrect]) VALUES (6, 3, N'sayed osama', 0)
SET IDENTITY_INSERT [dbo].[Choices] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([Id], [Title], [Description], [Duration], [StartTime], [EndTime], [PassPercentage], [InstructorId]) VALUES (1, N'ASP.NET Final', N'Updated Exam', 20, CAST(N'2026-07-10T10:00:00.000' AS DateTime), CAST(N'2026-07-10T11:30:00.000' AS DateTime), 60, 1)
INSERT [dbo].[Exams] ([Id], [Title], [Description], [Duration], [StartTime], [EndTime], [PassPercentage], [InstructorId]) VALUES (4, N'fjkdnf', N'fd', 50, CAST(N'2026-02-01T03:00:00.000' AS DateTime), CAST(N'2026-02-01T03:50:00.000' AS DateTime), 50, 2)
INSERT [dbo].[Exams] ([Id], [Title], [Description], [Duration], [StartTime], [EndTime], [PassPercentage], [InstructorId]) VALUES (5, N'kdgn', N'gd', 3, CAST(N'2026-07-05T04:08:00.000' AS DateTime), CAST(N'2026-07-05T04:09:00.000' AS DateTime), 50, 2)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [ExamId], [QuestionText], [Score]) VALUES (3, 1, N'why elmatarya named matarya?who say this sentence ', 3)
INSERT [dbo].[Questions] ([Id], [ExamId], [QuestionText], [Score]) VALUES (4, 1, N'what a class ', 10)
INSERT [dbo].[Questions] ([Id], [ExamId], [QuestionText], [Score]) VALUES (7, 1, N'what tt', 5)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([Id], [StudentId], [ExamId], [TotalScore], [Percentage], [IsPassed], [SubmittedAt]) VALUES (1, 2, 1, 5, CAST(50.00 AS Decimal(5, 2)), 0, CAST(N'2026-06-30T19:13:05.950' AS DateTime))
INSERT [dbo].[Results] ([Id], [StudentId], [ExamId], [TotalScore], [Percentage], [IsPassed], [SubmittedAt]) VALUES (2, 2, 1, 5, CAST(50.00 AS Decimal(5, 2)), 0, CAST(N'2026-07-04T20:03:50.267' AS DateTime))
INSERT [dbo].[Results] ([Id], [StudentId], [ExamId], [TotalScore], [Percentage], [IsPassed], [SubmittedAt]) VALUES (3, 2, 1, 5, CAST(50.00 AS Decimal(5, 2)), 0, CAST(N'2026-07-04T20:10:44.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Instructor')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Student')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAnswers] ON 

INSERT [dbo].[StudentAnswers] ([Id], [StudentId], [ExamId], [QuestionId], [ChoiceId], [AnsweredAt]) VALUES (5, 2, 1, 3, 4, CAST(N'2026-07-05T03:21:54.300' AS DateTime))
INSERT [dbo].[StudentAnswers] ([Id], [StudentId], [ExamId], [QuestionId], [ChoiceId], [AnsweredAt]) VALUES (6, 2, 1, 3, 4, CAST(N'2026-07-05T03:42:29.623' AS DateTime))
INSERT [dbo].[StudentAnswers] ([Id], [StudentId], [ExamId], [QuestionId], [ChoiceId], [AnsweredAt]) VALUES (7, 2, 1, 4, 8, CAST(N'2026-07-05T03:42:29.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[StudentAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [CreatedAt]) VALUES (1, N'Ziad Mohamed', N'ziad@gmail.com', N'$2a$11$8jbRwIUsUXOTpp1LsM.rf.A3RU5RuyqG6AE6mFijpsKg6JMid/eNe', 2, CAST(N'2026-06-28T02:35:51.723' AS DateTime))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [CreatedAt]) VALUES (2, N'Ahmed Ali', N'ahmed123@gmail.com', N'$2a$11$A93pEhYLABytsMWR3BKhceZLYi7UuEdmojcdVDeLjgiq6ZY9riaau', 2, CAST(N'2026-06-28T02:40:00.110' AS DateTime))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [CreatedAt]) VALUES (3, N'Ahmed Ali', N'test@test.com', N'$2a$11$QTvm7VbuIP1Fk.lf0jeeDuE3kV1ilaUM52d36M7A/Qkk/3oPp6f.O', 2, CAST(N'2026-07-03T20:11:34.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F673AACE87]    Script Date: 7/6/2026 2:33:34 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534CD9B3258]    Script Date: 7/6/2026 2:33:34 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((50)) FOR [PassPercentage]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [Score]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[StudentAnswers] ADD  DEFAULT (getdate()) FOR [AnsweredAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK_Choice_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK_Choice_Question]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exam_Instructor]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Question_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Question_Exam]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Result_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Result_Exam]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Result_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Result_Student]
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Choice] FOREIGN KEY([ChoiceId])
REFERENCES [dbo].[Choices] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FK_Answer_Choice]
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FK_Answer_Exam]
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FK_Answer_Student]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
